<mat-card class="light-foreground card-elevation-hover mat-elevation-z0 thumb">
    <img mat-card-image
        *ngIf="item.type == 'v'"
        class="video-thumb"
        src="{{ item.thumb }}">
    <mat-card-header>
        <img
            mat-card-avatar
            *ngIf="item.type == 'c'"
            class="channel-thumb"
            src="{{ item.thumb }}">

        <img mat-card-avatar
            *ngIf="item.type == 'l'"
            class="live-thumb"
            src="{{ item.thumb }}">
    </mat-card-header>
    <mat-card-content>
        {{ item.title }}
    </mat-card-content>
    <mat-card-footer>
        <mat-icon *ngIf="item.type=='v'">play_circle_outline</mat-icon>
        <mat-icon *ngIf="item.type=='l'">podcasts</mat-icon>
        <mat-icon *ngIf="item.type=='c'">folder_open</mat-icon>
    </mat-card-footer>
</mat-card>
