::ng-deep mat-card.thumb {
    width: 240px;
    img.channel-thumb {
        object-fit: cover;
        height: 100px !important;
        width: 100px !important;
    }
    img.live-thumb {
        width: 100px;
        height: 100px;
        border-radius: 0 !important;
        margin: 0 auto;
    }
    img.video-thumb {
        max-width:271px;
        height: 170px;
        overflow: hidden;
        margin-bottom: 0 !important;
    }
    mat-card-header {
        display: block !important;
        text-align: center;
        overflow: hidden;
    }

    mat-card-content {
        text-align: center;
        font-size: 1.2em !important;
        font-weight: 500;
        height: 35px;
        margin-bottom: 0 !important;
        overflow: hidden;
    }
    mat-card-footer {
        text-align: right;
        padding: 0 1em 1em 0;
    }

    @media screen and (max-width: 700px) {
        width: 175px;
        font-size: .7rem !important;
        img.channel-thumb {
            height: 50px !important;
            width: 50px !important;
        }
        img.live-thumb {
            height: 60px !important;
            width: 45px !important;
        }
        img.video-thumb {
            height: 113px !important;
            width: 206px !important;
        }
        mat-card-content {
            height: 20px;
        }
    }
}