::ng-deep mat-card.thumb {
    padding: 0 0 .5em 0 !important;
    width: 230px;


    img.media-thumb {
        margin-bottom: 0 !important;
        max-height: 100%;
        height: auto;
        width: auto;
        object-fit: cover;
        margin: auto;
    }

    .media-thumb-container {
        height: 135px;
        margin-bottom: .5em;
    }

    .content-container {
        margin: 1em;
    }

    mat-card-header {
        display: block !important;
        text-align: center;
        overflow: hidden;

    }

    mat-card-content {
        text-align: center;
        font-size: 1.2em !important;
        font-weight: 500;
        height: 35px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0 !important;
    }
    mat-card-footer {
        text-align: right;
        padding: 0 1em 1em 0;
    }

    @media screen and (max-width: 770px) {
        margin: auto;
        font-size: .8rem !important;
        mat-card-content {
            height: 20px;
        }
    }
}