@use '@angular/material' as mat;

::ng-deep mat-card.list {
    min-width: 430px;

    .media-thumb-container {
        width: 160px;
        height: 90px;
    }

    mat-card-header {
        height: 110px;
    }
    mat-card-title {
        font-size: 1.3em !important;
    }
    mat-card-subtitle {
        height: 60px;
        min-width: 100px;
        overflow: hidden;
        @media screen and (max-width: 600px){
            display:none !important;
        };
    }
    @media screen and (max-width: 770px) {
        min-width: 350px;
        font-size: .6rem;
        img.channel-thumb {
            height: 50px !important;
            width: 50px !important;
        }
        mat-card-header {
            height: unset;
            min-height: 50px;
        }
        mat-card-title {
            font-size: 1rem !important;
        }
        mat-card-subtitle {
            display:none !important;
        }
    @media screen and (max-width: 400px) {
        min-width: 280px;
    }
    }
}

