<mat-card
    class="light-foreground mat-elevation-z3"
    >
    <mat-card-header>
            <img mat-card-avatar
                class="channel-thumb"
                src="{{ item.thumb }}"/>
        <mat-card-title>
            {{ item.title }}
        </mat-card-title>
        <mat-card-subtitle class="text-fade-out">
            {{ item.short_description }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end" class="channel-card-actions">
        <button
            mat-mini-fab
            color="primary"
            class="mat-elevation-z0">
            <mat-icon>
                edit
            </mat-icon>
        </button>
        <button
            mat-mini-fab
            color="warn"
            class="mat-elevation-z0">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>