
@use '~@angular/material' as mat;
@import "./theme.scss";

html,
body {
  width: 90%;
  height: 100%;
  margin: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.spacer {
  flex: 1 1 auto;
}

app-channel-item {
  mat-card {
    background-color: mat.get-color-from-palette($light-primary, 'lighter') !important;
  }
}