<h1>{{ title }}</h1>
<p> {{ cs.translate('test mediaserver service on beta:') }} {{ response }}</p>
<p> {{ cs.translate('test common service uuidv4:') }} "{{ cs.uuidv4() }}"</p>
<p *ngFor="let choice of dialogChoices">
	<button mat-raised-button color="accent" (click)="openDialogs(choice)">{{ cs.translate('Open') }} {{ choice }} {{ cs.translate('Dialog') }}</button>
</p>
<p>{{ cs.translate('Example schame form login') }}</p>
<form (ngSubmit)="login();">
	<div style="margin-bottom: 15px;">
	  <schema-form-component [schema]="loginSchema" [formRoot]="loginForm"></schema-form-component>
	</div>
	<div style="margin-top: 30px;">
	  <button mat-raised-button color="accent" type="submit">
	    {{ cs.translate('Login') }}
	  </button>
	</div>
</form>

<router-outlet></router-outlet>
