#nav-header {
    background-color: transparent;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    mat-toolbar-row {
        height: 40px
    }
    .navigation-title > * {
        display: inline-block;
    }
    a {
    margin-right: 1em;
    }

    button {
        margin-left: 1em;
        mat-icon {
            margin: 0 !important;
        }
    }
    button.toggle-view-button {
        min-width:fit-content !important;
        line-height:normal;
        padding: .4em !important;
        box-sizing: content-box;
    }
}
