<mat-toolbar id="nav-header">
    <mat-toolbar-row>
        <div
            *ngIf="currentChannel; else root"
            class="navigation-title">
            <a
                mat-mini-fab
                class="mat-elevation-z0"
                color="primary"
                [routerLink]="[
                    '/channels',
                    currentChannel.parent_slug ? currentChannel.parent_slug : '']">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <h1>
                {{ currentChannel.title }}
            </h1>
        </div>
        <ng-template #root>
            <h1>Racine</h1>
        </ng-template>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <app-navigation-stepper
            [currentChannel]="currentChannel"
            [channelPath]="channelPath">
        </app-navigation-stepper>
        <span class="spacer"></span>
        <div class="view-control">
            <button
                mat-button
                [matMenuTriggerFor]="menu">
                <mat-icon>sort</mat-icon>
                <span class="button-icon-label">TRIER PAR</span>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    mat-menu-item
                    (click)="selectSort('creation_date-desc')">
                    Date de création
                </button>
                <button
                    mat-menu-item
                    (click)="selectSort('title-asc')">
                    Titre
                </button>
            </mat-menu>
            <app-toggle-view-button
                [currentView]="view"
                (viewChange)="onChangeView($event)">
            </app-toggle-view-button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
