<mat-toolbar id="nav-header">
    <mat-toolbar-row>
        <div
            *ngIf="currentChannel; else root"
            class="navigation-title">
            <a
                mat-mini-fab
                class="mat-elevation-z0"
                color="primary"
                [routerLink]="['/channels']"
                [queryParams]="{slug: channelPath[channelPath.length - 1]?.slug}">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <h1>
                {{ currentChannel.title }}
            </h1>
        </div>
        <ng-template #root>
            <h1>Racine</h1>
        </ng-template>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <app-navigation-stepper
            [currentChannel]="currentChannel"
            [channelPath]="channelPath">
        </app-navigation-stepper>
        <span class="spacer"></span>
        <div class="view-control">
            <button
                mat-button
                [matMenuTriggerFor]="menu">
                <mat-icon>sort</mat-icon>
                <span>  TRIER PAR</span>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    mat-menu-item
                    [routerLink]="['channels']"
                    [queryParams]="{sort: '-creation_date'}">
                    Date de création
                </button>
                <button
                    mat-menu-item
                    [routerLink]="['channels']"
                    [queryParams]="{sort: 'title'}">
                    Titre
                </button>
            </mat-menu>
            <button
                mat-button
                class="toggle-view-button">
                <mat-icon
                    title="switch to grid view"
                    *ngIf="view=='list'"
                    (click)="onToggleViewClick('thumb')">
                    grid_view
                </mat-icon>
                <mat-icon
                    title="switch to list view"
                    *ngIf="view=='thumb'"
                    (click)="onToggleViewClick('list')">
                    view_list
                </mat-icon>
            </button>
        </div>

    </mat-toolbar-row>
</mat-toolbar>
