#nav-header {
    background-color: transparent;
    padding: 1rem 0 0 1rem;
    display: flex;
    overflow: hidden;
    mat-toolbar-row {
        max-height: 70px;
        &.title-row {
            .navigation-title {
                width: 100%;
                * {
                    display: inline-block;
                }
                a.back-button {
                    float: left;
                    margin-right: 1em;
                }
                h1.title-container {
                    width: 80%;
                    white-space:normal;
                }

            }
        }
    }


    @media screen and (max-width: 768px) {
         .button-icon-label {
            display: none;
        }
        app-navigation-stepper {
            display: none;
        }
    }
}
