#channels-list {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    .channel-item {
        margin: .5em;
        flex:.5 1;
        @media(max-width: 1080px) {
            flex: 1 1;
        }
        &.list-view {
            max-width: 100%;
        }
        &.thumb-view {
            max-width: 275px;
        }

    }
    mat-spinner {
        margin: 5em auto;
    }
}
