<app-nav-header
    [currentChannel]="currentChannel"
    [channelPath]="channelPath"
    [(view)]="currentView">
</app-nav-header>
<mat-divider></mat-divider>
<div id="channels-list-container">
    <div
        *ngIf="currentView === 'table'; else items"
        class="table-container">
        <app-table-view [items]="channelsAndMedias"></app-table-view>
    </div>
    <ng-template #items>
        <app-item
            *ngFor="let item of itemsToShow"
            class="item-container"
            [class]="currentView"
            [ngClass]="{ 'channel-item': item.type === 'c' }"
            [item]="item"
            [view]="currentView">
        </app-item>
    </ng-template>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<div class="pagination-container" *ngIf="pagesTotal > 1 && currentView !== 'table'">
    <button mat-stroked-button
        [disabled]="currentPage === 0"
        (click)="previousPage()">
        Precedent
    </button>
    <button mat-raised-button
        color="primary"
        [disabled]="currentPage === pagesTotal - 1"
        (click)="nextPage()">
        Suivant
    </button>
</div>
