#channels-list {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .channel-item {
        margin: 1em;
        flex:.5 1;
        @media(max-width: 1090px) {
            flex: 1 1;
        }
    }
    mat-spinner {
        margin: 5em auto;
    }
}
